$message-color: gray;

.home {
    background-position: center; 
    background: #F2C7F3;
    background-size: cover;
}

.home__button{
    background-color: #C8F3C7;
}

.home__container{
    display: flex;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    padding: 25px auto;
}

.home__message{
    padding: 30px;
    align-items: center;
    justify-content: center;
    color: $message-color;
}
